In [60]:
import pandas as pd

1 city with best customer

In [61]:
data1=pd.read_csv('C:/Users/user/Desktop/chinook Music store/Invoice.csv')
data1

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98
1,2,4,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
2,3,8,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,5.94
3,4,14,NaN,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,NaN,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,NaN,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,8.91
410,411,44,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
411,412,58,NaN,"12,Community Centre",Delhi,NaN,India,110017,1.99

In [62]:
data=pd.read_csv('C:/Users/user/Desktop/chinook Music store/InvoiceLine.csv')
data

      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0                 1          1        2       0.99         1
1                 2          1        4       0.99         1
2                 3          2        6       0.99         1
3                 4          2        8       0.99         1
4                 5          2       10       0.99         1
...             ...        ...      ...        ...       ...
2235           2236        411     3136       0.99         1
2236           2237        411     3145       0.99         1
2237           2238        411     3154       0.99         1
2238           2239        411     3163       0.99         1
2239           2240        412     3177       1.99         1

[2240 rows x 5 columns]

In [63]:
data2=pd.merge(data,data1,how='outer',on='InvoiceId')
data2

,InvoiceLineId,InvoiceId,TrackId,UnitPrice,Quantity,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,1,2,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98
1,2,1,4,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,1.98
2,3,2,6,0.99,1,4,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
3,4,2,8,0.99,1,4,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
4,5,2,10,0.99,1,4,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,3.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2236,411,3136,0.99,1,44,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
2236,2237,411,3145,0.99,1,44,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
2237,2238,411,3154,0.99,1,44,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
2238,2239,411,3163,0.99,1,44,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,13.86
2239,2240,412,3177,1.99,1,58,NaN,"12,Community Centre",Delhi,NaN,India,110017,1.99

In [64]:
data2['BillingCity'].isna().sum()

0

In [65]:
total=data2.groupby('BillingCity')

In [66]:
t=total['Total'].sum()
t.idxmax()

'Prague'

city with best customer is prague

(2) country with most invoices

In [67]:
country=data2.groupby('BillingCountry')

In [68]:
t=country['InvoiceId'].sum()
t.idxmax()

'USA'

country with most invoices is USA

3 customer that spend the most

In [69]:
read=pd.read_csv('C:/Users/user/Desktop/chinook Music store/Customer.csv')

In [70]:
read1=pd.merge(data2,read,how='outer', on='CustomerId')
read1

,InvoiceLineId,InvoiceId,TrackId,UnitPrice,Quantity,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,...,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,1,2,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
1,2,1,4,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,60,12,331,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
3,61,12,340,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
4,62,12,349,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2221,410,3013,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
2236,2222,410,3019,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
2237,2223,410,3025,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
2238,2224,410,3031,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
2239,2225,410,3037,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4

In [71]:
read2=read1.groupby('CustomerId')

In [72]:
r=read2['Total'].sum()

In [73]:
print(r.idxmax())

6

the best customer is Helena HolÃ½

the Email firsname lastname of rock music listener

In [74]:
ted=pd.read_csv('C:/Users/user/Desktop/chinook Music store/Genre.csv')

In [75]:
ted1=pd.read_csv('C:/Users/user/Desktop/chinook Music store/Track.csv')

In [82]:
ted2=pd.merge(ted,ted1,how='left',on='GenreId')
ted2

,GenreId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1,For Those About To Rock (We Salute You),1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,1,Rock,2,Balls to the Wall,2,2,NaN,342562,5510424,0.99
2,1,Rock,3,Fast As a Shark,3,2,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,1,Rock,4,Restless and Wild,3,2,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,1,Rock,5,Princess of the Dawn,3,2,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...,...
3498,24,Classical,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,NaN,286741,4718950,0.99
3499,24,Classical,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,Franz Schubert,139200,2283131,0.99
3500,24,Classical,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,Claudio Monteverdi,66639,1189062,0.99
3501,24,Classical,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,25,Opera,3451,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",317,2,Wolfgang Amadeus Mozart,174813,2861468,0.99

In [80]:
best2=pd.merge(read1,ted2, how='left',on='TrackId')
best2

,InvoiceLineId,InvoiceId,TrackId,UnitPrice_x,Quantity,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,...,SupportRepId,GenreId,Name_x,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice_y
0,1,1,2,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,5,1,Rock,Balls to the Wall,2,2,NaN,342562,5510424,0.99
1,2,1,4,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,5,1,Rock,Restless and Wild,3,2,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
2,60,12,331,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,5,9,Pop,Lavadeira,29,1,"Do Vale, Valverde/Gal Oliveira/Luciano Pinto",214256,7254147,0.99
3,61,12,340,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,5,1,Rock,Dazed and Confused,30,1,Jimmy Page,401920,13035765,0.99
4,62,12,349,0.99,1,2,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,...,5,1,Rock,You Shook Me(2),30,1,J B Lenoir/Willie Dixon,619467,20138673,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2221,410,3013,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,4,1,Rock,Sweetest Thing,238,1,U2 & Daragh O'Toole,183066,6071385,0.99
2236,2222,410,3019,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,4,1,Rock,Seconds,239,1,U2,191582,6352121,0.99
2237,2223,410,3025,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,4,1,Rock,Red Light,239,1,U2,225854,7453704,0.99
2238,2224,410,3031,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,4,1,Rock,Lemon,240,1,U2; Bono,418324,13988878,0.99
2239,2225,410,3037,0.99,1,35,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,...,4,1,Rock,The Wanderer,240,1,U2; Bono,283951,9258717,0.99

In [78]:
rock1=best2.filter(items=['FirstName','LastName','Email','CustomerId','Name_x'=='Rock'])
rock2=rock1.set_index('Email').sort_values(by='FirstName')
rock2.drop_duplicates().dropna()

                               FirstName      LastName  CustomerId
Email
aaronmitchell@yahoo.ca             Aaron      Mitchell        32.0
alero@uol.com.br               Alexandre         Rocha        11.0
astrid.gruber@apple.at            Astrid        Gruber         7.0
bjorn.hansen@yahoo.no              Bjørn        Hansen         4.0
camille.bernard@yahoo.fr         Camille       Bernard        39.0
daan_peeters@apple.be               Daan       Peeters         8.0
dmiller@comcast.com                  Dan        Miller        20.0
diego.gutierrez@yahoo.ar           Diego     Gutiérrez        56.0
dominiquelefebvre@gmail.com    Dominique      Lefebvre        40.0
eduardo@woodstock.com.br         Eduardo       Martins        10.0
edfrancis@yachoo.ca               Edward       Francis        30.0
ellie.sullivan@shaw.ca             Ellie      Sullivan        33.0
emma_jones@hotmail.com              Emma         Jones        52.0
enrique_munoz@yahoo.es           Enrique         Muñoz        50.0
fernadaramos4@uol.com.br        Fernanda         Ramos        13.0
fralston@gmail.com                 Frank       Ralston        24.0
fharris@google.com                 Frank        Harris        16.0
frantisekw@jetbrains.com       František   Wichterlová         5.0
ftremblay@gmail.com             François      Tremblay         3.0
fzimmermann@yahoo.de                Fynn    Zimmermann        37.0
hannah.schneider@yahoo.de         Hannah     Schneider        36.0
hleacock@gmail.com               Heather       Leacock        22.0
hholy@gmail.com                   Helena          Holý         6.0
hughoreilly@apple.ie                Hugh      O'Reilly        46.0
isabelle_mercier@apple.fr       Isabelle       Mercier        43.0
jacksmith@microsoft.com             Jack         Smith        17.0
jenniferp@rogers.ca             Jennifer      Peterson        15.0
joakim.johansson@yahoo.se         Joakim     Johansson        51.0
johavanderberg@yahoo.nl         Johannes  Van der Berg        48.0
johngordon22@yahoo.com              John        Gordon        23.0
jfernandes@yahoo.pt                 João     Fernandes        34.0
jubarnett@gmail.com                Julia       Barnett        28.0
kara.nielsen@jubii.dk               Kara       Nielsen         9.0
kachase@hotmail.com                Kathy         Chase        21.0
ladislav_kovacs@apple.hu        Ladislav        Kovács        45.0
leonekohler@surfeu.de             Leonie        Köhler         2.0
lucas.mancini@yahoo.it             Lucas       Mancini        47.0
luisrojas@yahoo.cl                  Luis         Rojas        57.0
luisg@embraer.com.br                Luís     Gonçalves         1.0
masampaio@sapo.pt               Madalena       Sampaio        35.0
manoj.pareek@rediff.com            Manoj        Pareek        58.0
marc.dubois@hotmail.com             Marc        Dubois        41.0
mark.taylor@yahoo.au                Mark        Taylor        55.0
mphilips12@shaw.ca                  Mark       Philips        14.0
marthasilk@gmail.com              Martha          Silk        31.0
michelleb@aol.com               Michelle        Brooks        18.0
nschroder@surfeu.de               Niklas      Schröder        38.0
patrick.gray@aol.com             Patrick          Gray        27.0
phil.hughes@gmail.com               Phil        Hughes        53.0
puja_srivastava@yahoo.in            Puja    Srivastava        59.0
ricunningham@hotmail.com         Richard    Cunningham        26.0
robbrown@shaw.ca                  Robert         Brown        29.0
roberto.almeida@riotur.gov.br    Roberto       Almeida        12.0
stanisław.wójcik@wp.pl         Stanisław        Wójcik        49.0
steve.murray@yahoo.uk              Steve        Murray        54.0
terhi.hamalainen@apple.fi          Terhi    Hämäläinen        44.0
tgoyer@apple.com                     Tim         Goyer        19.0
vstevens@yahoo.com                Victor       Stevens        25.0
wyatt.girard@yahoo.fr              Wyatt        Girard        42.0

5 most pupolar genre in each country

In [85]:
rock=best2.groupby(['BillingCountry'])
rock['Name_x'].max()

BillingCountry
Argentina               Soundtrack
Australia                     Rock
Austria                   TV Shows
Belgium                       Rock
Brazil                       World
Canada                       World
Chile                     TV Shows
Czech Republic            TV Shows
Denmark                       Rock
Finland           Sci Fi & Fantasy
France                    TV Shows
Germany                   TV Shows
Hungary                   TV Shows
India                     TV Shows
Ireland                   TV Shows
Italy                         Rock
Netherlands       Sci Fi & Fantasy
Norway                       World
Poland                        Rock
Portugal                     World
Spain                         Rock
Sweden                       World
USA                       TV Shows
United Kingdom               World
Name: Name_x, dtype: object